*{
    padding: 0;margin: 0;
    box-sizing: border-box;
}
body{
    
    font-family: "Poppins", sans-serif;

}
h1{
    text-align: center;
    margin: 10px;

}

form{
    margin: 10px;
    

}

form label{
    font-size: 17px;
    margin-left:3px ;
}

form input{
   
    outline: none;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 3px 4px;
    margin-bottom: 30px;
    font-size: 15px;
}
button{
    background-color: rgb(31, 156, 15);
    padding: 6px 13px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin: 0px 60px;

    margin-bottom: 20px;
}
button:hover{
    transform: translateY(-3px);
    background-color: rgb(31, 156, 15);
}

.ans{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;

}

#clear{
    background-color: rgb(198, 43, 16);
    margin: 0;
}

.green{
    color:  rgb(31, 156, 15);
}
.red{
    color:rgb(198, 43, 16);
}

.light{
    background-color: white;
    color: black;
}
.dark{
    background-color: rgb(25, 25, 25);
    color: white;
}

.mod{
    background-color: black;
    color: white;
    position: absolute;
    right: 1px;
    top:20px;
    font-size: 13px;
}
.mod:hover{
    background-color: rgb(41, 41, 41);

}
/* Responsive Design */
@media (max-width: 768px) {
    form {
        margin: 10px;
        padding: 10px;
    }

    form label {
        font-size: 15px;
    }

    form input {
        font-size: 14px;
    }

    button {
        font-size: 14px;
        padding: 8px 15px;
    }

    h1 {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    body{
        position: relative;
    }
    form input {
        font-size: 12px;
        padding: 8px;
    }

    button {
        font-size: 12px;
        padding: 6px 12px;
    }

    h1 {
        font-size: 21px;
    }

    .mod{
        background-color: white;
        color: black;
        font-size: 13px;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}